fastapi[standard]==0.113.0
pydantic==2.8.0
uvicorn[standard]
python-multipart
websockets

# Testing dependencies
pytest
pytest-asyncio
pytest-mock
httpx

# Model dependencies
torch
transformers
numpy>=1.21.0
opencv-python
pandas
tensorboardX
einops
urllib3<2
tqdm
easydict